* { 
    background-color: rgb(7, 0, 20);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    width: 500px;
    height: 50hv;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 150px;
    height: 100px;
}

.passos {    
    align-items: flex-start ;    
    width: 310px;
    height: 14px;
    padding-top: 20px;
    
    
}

.passos span {
    color: #b7b7b7;
    font-size: 10px;
}

.titulo {
    align-items: flex-start;
    width: 310px;
    height: 25px;
    padding-bottom: 15px;    
    font-size: 10px;
}

h1 {
    color: #f9f9f9;
}

.box-input input {
    width: 300px;
    height: 30px;
    padding: 05px;
    border-color: #f9f9f9 1px;
    color: #f9f9f9;
    background-color: rgb(51, 49, 49);
    border-radius: 4px;
}


.cheack-span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 315px;
    height: 50hv;
    margin-top: 30px;
    font-size: 12px;
    padding-bottom: 20px;
}

.cheack {
    padding-right: 5px;
    padding-bottom: 20px;
}

.span-cheack {
    padding-top: 5px;
    text-align: justify;
}

span {
    color: #b7b7b7;
}

.box-2 {
    width: 315px;
    height: 42%;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;     
    background-color: rgb(51, 49, 49);    
    border-radius: 8px;    
}

.span2 {
    width: 310px;
    height: 30vh;
    text-align: justify ;    
    background-color: rgb(51, 49, 49);
    
}

.span2 span {
    padding: 5px;
    background-color: rgb(51, 49, 49);
    font-size: 12px;
    
}

.span2 a {
    
    background-color: rgb(51, 49, 49);
    color: blue;  
}


.button-box2 {    
    background-color:  rgb(51, 49, 49);
    padding-top: 10px;
    padding-bottom: 10px;
}
    

button {
    width: 300px;
    height: 50px;    
    background-color: rgb(35, 97, 255);
    color: #f9f9f9;
    font-size: 18px;    
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    background-color: rgb(35, 97, 255);
    color: #f9f9f9;
}

.button-box2:hover {       
    transform: scale(1.04);
    transition: transform 1500ms linear;    
}

.button-box2 a:hover {
    color: yellow;    
}


.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer img {
    width: 90px;
    height: 50px;
}

.ancoras {
    display: flex;
    align-items: center;
    justify-content: center; 
       
}

.ancoras a {
    padding: 10px;
    text-decoration: none;
    color: #b7b7b7;
}

.span-footer {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
    padding-bottom: 50px; 
}

.span-footer span {
    color: #b7b7b7;
    padding: 10px;    
}
